a:link,
a:active,
a:visited {
  color: #ffffff;
}

a:hover {
  color: #edb9e7 !important;
  text-decoration: none !important;
}

h1 {
  color: #ffffff;
  display: block;
  text-align: left;
}

h2 {
  display: block;
  text-align: left;
}

h3 {
  display: block;
  text-align: left;
}

h4 {
  display: block;
  text-align: left;
}

p {
  font-size: 15px;
  display: block;
  text-align: center;
}

button {
  background-color: #a18cd1;
  color: #ffffff;
  border: 1px solid #a18cd1;
  font-size: 15px;
  font-weight: bold;
}

input {
  display: block;
  text-align: center !important;
  color: #ffffff !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  background-color: transparent !important;
  max-width: 550px !important;
  border: transparent !important;
  border-bottom: 5px solid #a18cd1 !important;
}

input:focus {
  outline: 5px solid #a18cd1 !important;
  opacity: 50%;
  transition: ease-in 1s;
  border-bottom: 5px solid #a18cd1 !important;
  background-color: transparent !important;
  color: #ffffff !important;
}

#weather-data {
  display: block;
  text-align: center;
  margin: 30px auto;
}

#weather-data-temperature {
  display: block;
  text-align: center;
  margin: auto 20px;
}

#location {
  display: block;
  text-align: center;
  margin: 50px auto 10px;
}

#repository {
  display: block;
  text-align: center;
}

#weekday {
  display: block;
  text-align: center;
}

#weekly-icons {
  display: block;
  text-align: center;
}

#temperature {
  display: block;
  text-align: center;
  margin: auto;
}

#current {
  text-align: right;
  margin: auto;
}

#current-button {
  border-radius: 5px 5px;
  transition: ease-in-out 2ms;
  padding: 10px 15px 10px 15px;
}

#weather-container {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin: 20px auto;
  max-width: 800px;
  padding: 20px 16px 24px 16px;
}

#search-city {
  display: block;
  text-align: right;
}

#daily-temperature {
  text-align: center;
  margin: 30px auto;
  max-width: 700px;
}

.cloud-iconbig {
  font-size: 100px;
  color: #ffffff;
}

.cloud-iconsmall {
  font-size: 30px;
  color: #ffffff;
  display: block;
  text-align: center;
}

.rain-icon {
  font-size: 30px;
  color: #ffffff;
  display: block;
  text-align: center;
}

.showers-icon {
  font-size: 30px;
  color: #ffffff;
  display: block;
  text-align: center;
}

.btn-primary,
.hover,
.active,
.visited .focus {
  background-color: #a18cd1 !important;
  border: 1px solid #a18cd1 !important;
  outline: none !important;
}
